<div data-countdown-wrap class="sr4-product-countdown sr4-pe-none sr4-pa sr4-op-0">
  <span class="sr4-pr-countdown-title">{{ 'products.product_card.offer_end_in' | t }}</span>
  <span
    class="sr4-pr-countdown-date"
    data-countdown-sr4
    data-date="{{countdown}}">
    <span>%-D %!D:{{ 'products.product_card.countdown_text.day' | t }},{{ 'products.product_card.countdown_text.day_plural' | t }}; %H:%M:%S</span>
  </span>
</div>