<a
  href="{{routes.root_url}}"
  data-menu-drawer
  data-drawer-options='{ "id":"#sr4-menu-drawer" }'
  class="sr4-push-menu-btn {{push_menu}} sr4-lh-1 sr4-d-flex sr4-align-items-center">
  {% comment %} <svg
                                class="icon-burger-header"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  class="burger-line burger-top-line"
                                  stroke="currentColor"
                                  d="M5 6.5h14"></path>
                                <path
                                  class="burger-line burger-middle-line1"
                                  stroke="currentColor"
                                  d="M5 11.5h14"></path>
                                <path
                                  class="burger-line burger-middle-line2"
                                  stroke="currentColor"
                                  d="M5 11.5h14"></path>
                                <path
                                  class="burger-line burger-bottom-line"
                                  stroke="currentColor"
                                  d="M5 16.5h14"></path>
                </svg> {% endcomment %}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="16"
    viewBox="0 0 30 16"
    fill="currentColor">
    <rect height="1" width="22"></rect>
    <rect
      y="7"
      width="22"
      height="1"></rect>
    <rect
      y="14"
      width="22"
      height="1"></rect>
  </svg>
</a>