<a
  href="{{routes.root_url}}"
  data-menu-drawer
  data-drawer-options='{ "id":"#sr4-menu-drawer" }'
  class="sr4-push-menu-btn {{push_menu}} sr4-lh-1 sr4-d-flex sr4-align-items-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="16"
    viewBox="0 0 30 16"
    fill="currentColor"
  >
    <rect width="25" height="1.5"></rect>
    <rect
      y="7"
      width="25"
      height="1.5"></rect>
    <rect
      y="14"
      width="25"
      height="1.5"></rect>
  </svg>
</a>
