{%- assign search_url = routes.search_url -%}
<div class="admin_t4_tools t4_tools_btns">
  <button class="admin_t4_tools_btn"><i class="las la-tools"></i><i class="las la-times"></i></button>
  <div class="admin_t4_tools__content">
    <ul>
      <li>
        <a href="https://siardigital.com/" class="admin_t4_tools__item admin_t4_tools__item--separated" target="_blank"
          ><i class="las la-book mr__5"></i>View documentation</a
        >
      </li>
      <li>
        <a class="admin_t4_tools__item" href="{{search_url}}/?view=config">
          <svg viewBox="0 0 24 24" class="admin_t4_tools__svg">
            <use xlink:href="#scl_adt4ld"></use>
          </svg>
          <i class="las la-search mr__5"></i>Go to configs page</a
        >
      </li>
      <li>
        <a class="admin_t4_tools__item" href="{{search_url}}">
          <svg viewBox="0 0 24 24" class="admin_t4_tools__svg">
            <use xlink:href="#scl_adt4ld"></use>
          </svg>
          <i class="las la-search mr__5"></i>Go to search page to config</a
        >
      </li>
      {%- if settings.wishlist_type != '0' and settings.wishlist_type != '3' -%}
        <li>
          <a class="admin_t4_tools__item" href="{{search_url}}/?view=wishlist">
            <svg viewBox="0 0 24 24" class="admin_t4_tools__svg">
              <use xlink:href="#scl_adt4ld"></use>
            </svg>
            <i class="lar la-heart mr__5"></i>Go to wishlist page to config</a
          >
        </li>
      {% endif -%}
      {%- if settings.enable_compe %}
        <li>
          <a class="admin_t4_tools__item" href="{{search_url}}/?view=compare">
            <svg viewBox="0 0 24 24" class="admin_t4_tools__svg">
              <use xlink:href="#scl_adt4ld"></use>
            </svg>
            <i class="las la-sync mr__5"></i>Go to compare page to config</a
          >
        </li>
      {% endif -%}
    </ul>
  </div>
</div>
<template id="sr4-temp-key-active">
  <div class="content">
    <h3>Welcome to Extravagence 🎉</h3>
  </div>
</template>
