/* Sticky toolbar visible only on mobile */
@media (min-width: 768px) {
  div#shopify-section-toolbar-mobile {
    display: none!important;
  }
}

.sticky-toolbar-mobile {
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 90%;
  background: #fff;
  z-index: 190;
  padding: 10px 12px;
  transform: translateX(-50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:30px;
}

.sticky-toolbar-mobile .toolbar-item {
  flex: 1;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.sticky-toolbar-mobile .toolbar-item .icon {
  width: 22px;
  height: 22px;
  display: block;
  margin: 0 auto 4px;
  fill: #333;
  transition: fill 0.3s ease;
}

.sticky-toolbar-mobile .toolbar-item:hover .icon,
.sticky-toolbar-mobile .toolbar-item:focus .icon {
  fill: #000;
}

div#mb-sticky{
  display:flex;
  justify-content: space-around;
 }

.sr4-toolbar-item a{
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 45px;
  font-weight: 400;
  line-height: 1;
}

#mb-sticky > div:first-child[aria-current="page"] {
  background: #333333;
  border-radius: 30px;
  width:20%;
}

#mb-sticky > div:first-child[aria-current="page"] svg {
  color:white;
}