<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title">{{ 'templates.404.title' | t }}</h1>
  <p>{{ 'templates.404.subtext' | t }}</p>
  <a href="{{ routes.root_url }}" class="button">Go back to the homepage</a>
</div>
