{{ 'parallax-section.css' | asset_url | stylesheet_tag }}
<script src="{{ 'parallax_section.js' | asset_url }}" defer="defer"></script>

<section class="container_para container_para--small mt__20 mb__50">
  {% if section.settings.desktop_image != blank %}
    <div
      class="pweb parallax parallax-desktop h__580"
      data-parallax-image="{{ section.settings.desktop_image | image_url }}"
      style="height: 580px!important;"
    ></div>
  {% endif %}

  {% if section.settings.mobile_image != blank %}
    <div
      class="pmob parallax parallax-mobile h__580"
      data-parallax-image="{{ section.settings.mobile_image | image_url }}"
      style="height: 580px!important;"
    ></div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Parallax Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Parallax",
      "category": "Media"
    }
  ]
}
{% endschema %}
