{%- if section.settings.show_wa -%}
  <div id="whatsappbutton">
    <a
      id="scrollLink"
      rel="nofollow"
      href="{{ section.settings.link_wa }}"
      class="float whatsapp"
      target="{{ section.settings.target_link  }}"
      aria-describedby="a11y-new-window-external-message"
      data-no-instant>
      <span>
        {%- render 'icon_socials'
          , icon_name: 'whatsapp' -%}
      </span>
    </a>
  </div>
{% endif %}

<style>
  div#whatsappbutton svg {
    fill: white;
    width: 70%;
    transform: translate(0px, 5px);
  }
  @media (max-width: 767px) {
    .float {
      bottom: 10% !important;
    }
  }
  #t4s-backToTop {
    width: 30px;
    height: 30px;
    right: 13px;
    bottom: 70px;
  }
  .float {
    position: fixed;
    width: 45px;
    height: 45px;
    /* bottom: 120px; */
    bottom: 10%;
    line-height: 45px;
    /* right: 10px; */
    right: 20px;
    padding-top: 0;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    z-index: 100;
    animation-name: pulses;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  @keyframes pulses {
    0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    80% {
      box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
  }
  .float:hover {
    color: white;
    background-color: #13b650;
  }
</style>
{% schema %}
  {
    "name": "Whatsapp button",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_wa",
        "label": "Show Whastapp floating icon",
        "default": true
      }, {
        "type": "url",
        "id": "link_wa",
        "label": "Whastsapp Link"
      }, {
        "type": "select",
        "id": "target_link",
        "label": "Open link in",
        "default": "_self",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          }, {
            "value": "_blank",
            "label": "New window"
          }
        ]
      }
    ]
  }
{% endschema %}