{%- if section.settings.show_wa -%}
  <a
    id="scrollLink"
    rel="nofollow"
    href="{{ section.settings.link_wa }}"
    class="float whatsapp"
    target="{{ section.settings.target_link  }}"
    data-no-instant>
    {%- render 'icon_socials'
      , icon_name: 'whatsapp' -%}
  </a>
{% endif %}

<style>
  .float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 15px;
    padding-top: 0.5rem;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: 2s;
  }
  .float svg {
    width: 32px;
    height: 32px;
    fill: white;
  }
  @media (max-width: 767px) {
    .float {
      bottom: 70px !important;
    }
  }


  /*

   .float { 
   -webkit-animation: shockwaveJump 1s ease-out infinite; 
   animation: shockwaveJump 1s ease-out infinite; 
   } 
*/
  .float--shockwave:after {
    content: '';
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    bottom: 50px;
    right: 15px;
    /* border-radius: 50%; */
    -webkit-animation: shockwave 1s 0.65s ease-out infinite;
    animation: shockwave 1s 0.65s ease-out infinite;
  }
  .float:before {
    content: '';
    position: absolute;


    /*

   top: 0; 
   left: 0; 
*/
    bottom: 50px;
    right: 15px;
    /* border-radius: 50%; */
    -webkit-animation: shockwave 1s 0.5s ease-out infinite;
    animation: shockwave 1s 0.5s ease-out infinite;
  }

  @-webkit-keyframes shockwaveJump {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
    50% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
    55% {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
    60% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes shockwaveJump {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
    50% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
    55% {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
    60% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @-webkit-keyframes shockwave {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15)
      , inset 0 0 1px rgba(0, 0, 0, 0.15);
    }
    95% {
      box-shadow: 0 0 50px transparent
      , inset 0 0 30px transparent;
    }
    100% {
      -webkit-transform: scale(2.25);
      transform: scale(2.25);
    }
  }
  @keyframes shockwave {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15)
      , inset 0 0 1px rgba(0, 0, 0, 0.15);
    }
    95% {
      box-shadow: 0 0 50px transparent
      , inset 0 0 30px transparent;
    }
    100% {
      -webkit-transform: scale(2.25);
      transform: scale(2.25);
    }
  }

</style>
{% schema %}
  {
    "name": "Whatsapp button",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_wa",
        "label": "Show Whastapp floating icon",
        "default": true
      }, {
        "type": "url",
        "id": "link_wa",
        "label": "Whastsapp Link"
      }, {
        "type": "select",
        "id": "target_link",
        "label": "Open link in",
        "default": "_self",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          }, {
            "value": "_blank",
            "label": "New window"
          }
        ]
      }
    ]
  }
{% endschema %}