.back-to-top {
position: fixed;
bottom: 150px;
right: 15px;
z-index: 50;
width: 44px;
height: 44px;
border-radius: 50%;
background: var(--circle-normal, #f5f5f5);
color: #000;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
visibility: hidden;
transition: all 0.3s ease;
cursor: pointer;
}

.back-to-top.active {
opacity: 1;
visibility: visible;
}

.back-to-top svg {
width: 18px;
height: 18px;
}

.hidden-mobile {
display: none;
}

/* Progress bar style */
.circle-progress {
position: relative;
width: 100%;
height: 100%;
}
.circle-progress__inner,
.circle-progress__bg {
position: absolute;
inset: 0;
border-radius: 50%;
border: var(--border-w, 2px) solid var(--circle-normal, #f5f5f5);
}
.circle-progress__bg {
border-color: var(--circle-active, #000);
clip-path: inset(50% 0 0 0 round 50%);
}
.circle-progress__inner{
display: flex;
align-items: center;
justify-content: center;
}
@media(min-width: 750px){
.hidden-mobile {
display: flex!important;
}
}