.ba-slider {
  position: relative;
  width: auto;
  /* max-width: fit-content; */
  margin: 0 auto;
  overflow: hidden;
}
.ba-slider img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ba-slider img:first-child {
  position: relative;
}
.ba-slider .resize-img {
  overflow: hidden;
}
.ba-slider .resize-img img {
  width: 100%;
}
.ba-handle {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  z-index: 10;
  cursor: ew-resize;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ba-handle::before,
.ba-handle::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #fff;
  transform: translateX(-50%);
  z-index: -1;
}

.ba-handle span.ba-arrows {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 999px;
  padding: 6px 8px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ba-handle {
  cursor: grab;
}
.ba-handle:active {
  cursor: grabbing;
}
.ba-slider,
.ba-slider * {
  user-select: none;
  -webkit-user-drag: none;
  line-height: 9px;
}

.ba-slider .resize-img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
  pointer-events: none;
  z-index: 2;
}

.ba-slider .ba-before {
  background-color: #dbd9d9;
}

.ba-slider .ba-after {
  background-color: #c2c2c2;
}
