/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*---------------- Global Custom CSS -------------------*/
.sr4-newsletter__inner .sr4-newsletter__submit .sr4-newsletter__text {
  font-weight: 100;
}

.shopify-policy__container {
  margin: auto;
  max-width: 1024px;
}

.shopify-policy__title h1 {
  font-weight: 400;
  color: #838383;
}

@media (min-width: 1024px) {
  .shopify-policy__title h1 {
    font-size: 58px;
  }
}

@media (max-width: 1024px) {
  .shopify-policy__title h1 {
    font-size: 49px;
  }
}

li#item_base_VQ8NQb a,
li#item_menu_cxE4PF a {
  font-weight: 600;
}
.plyr--video .plyr__controls {
  margin-bottom: 35px;
}
