.container_para {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.container_para--small {
  height: 50vh;
}

.parallax__container_para {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.parallax__container_para .parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  width: 100%;
  z-index: 0;
}

/* Hide/show by screen size */
.parallax-desktop {
  display: block;
}

.parallax-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .parallax-desktop {
    display: none;
  }

  .parallax-mobile {
    display: block;
  }
}
