@media (min-width: 1025px) {
  .is--tab-layout__wide .sr4-container {
    max-width: 1600px;
  }
  .is--tab-layout__content_full .sr4-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.is--tab-design__tab.is--tab-design-mb__tab .sr4-tabs-ul {
  display: block;
}
.is--tab-design__tab.is--tab-design-mb__tab .sr4-tab-wrapper [data-sr4-tab-item] {
  display: none;
}
.sr4-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
.sr4-product-tabs-wrapper.is--tab-position__external .sr4-container {
  background-color: var(--bg-tabs-mb);
}
@media (min-width: 768px) {
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-type-tabs {
    padding: 50px 0 30px;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external.is--tab-design__accordion .sr4-type-tabs {
    padding: 30px 0;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-container {
    --bg-tabs-mb: var(--bg-tabs) !important;
  }
}
.sr4-pr_attrs,
.sr4-pr_attrs p {
  margin-bottom: 0;
}

/* ------------------------Custom CSS----------------------------- */
.sr4-tabs-pr-ul {
  text-align: center;
  --list-mb: 15px;
}
.sr4-tabs-pr-ul a {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  line-height: 1.2;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.sr4-tabs-pr-ul a.sr4-active {
  border-color: var(--secondary-color);
}
.sr4-tabs-pr-ul a.sr4-active,
.sr4-tabs-pr-ul a:hover {
  color: var(--secondary-color);
}

/**
 * Accordion
 */
.is--tab-design__accordion .sr4-tab-wrapper > .sr4-tab__title[data-sr4-tab-item] {
  display: flex;
}
.is--tab-design__accordion .sr4-tab-wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}
.is--tab-design__accordion .sr4-tab-content {
  padding: 10px 0;
  /* border: 1px solid rgba(var(--text-color-rgb), 0.08); */
  border-top: 0;
}
.is--tab-design__accordion .sr4-tab-wrapper:first-child .sr4-tab-content:not([style]) {
  display: none;
}

.sr4-tab-content{
  font-size:12px;
  color:black;
}

.sr4-tab__title {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--text-color-rgb), 0.08);
}

.sr4-tab__title .sr4-tab__text {
  padding: 10px;
}
.sr4-tab__title .sr4-tab__icon {
  width: 44px;
  height: 44px;
  /*     background-color: var(--secondary-color); */
  /*     color: var(--sr4-light-color); */
  position: relative;
  display: block;
  flex: 0 0 auto;
  margin-left: 5px;
}
.sr4-tab__icon:after,
.sr4-tab__icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  width: 15px;
  height: 2px;
  opacity: 1;
}
.sr4-tab__icon:after {
  height: 15px;
  width: 2px;
}
.sr4-active > .sr4-tab__title > .sr4-tab__icon:before,
.sr4-active > .sr4-tab__title > .sr4-tab__icon:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.sr4-active > .sr4-tab__title > .sr4-tab__icon:before {
  opacity: 0;
}

@media (min-width: 768px) {
  .sr4-product-tabs-wrapper.is--tab-position__external {
    margin: 60px 0px;
  }
  .sr4-tabs-pr-ul {
    --list-mb: 5px;
  }
  .sr4-tabs-pr-ul a {
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    padding: 0 25px;
    margin: 0;
  }

  .is--tab-design__tab .sr4-tab-wrapper .sr4-tab-content {
    padding: 25px 0;
  }

  /**
   * Accordion
   */
  .sr4-tab__title .sr4-tab__text {
    padding: 10px 0px;
  }
}

@media (max-width: 1024px) {
  .is--tab-design-mb__accordion .sr4-tab-wrapper > .sr4-tab__title[data-sr4-tab-item] {
    display: flex;
  }
  .is--tab-design-mb__accordion .sr4-tab-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .is--tab-design-mb__accordion .sr4-tab-content {
    padding: 10px;
    border-top: 0;
  }
}
@media (max-width: 767px) {
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-type-tabs {
    padding: 30px 0;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external {
    margin: 30px 0;
  }
}
