@media (min-width: 1025px) {
  .is--tab-layout__wide .sr4-container {
    max-width: 1600px;
  }
  .is--tab-layout__content_full .sr4-container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.is--tab-design__tab.is--tab-design-mb__tab .sr4-tabs-ul {
  display: block;
}
.is--tab-design__tab.is--tab-design-mb__tab .sr4-tab-wrapper [data-sr4-tab-item] {
  display: none;
}
.sr4-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
.sr4-product-tabs-wrapper.is--tab-position__external .sr4-container {
  background-color: var(--bg-tabs-mb);
}
@media (min-width: 768px) {
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-type-tabs {
    padding: 50px 0 30px;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external.is--tab-design__accordion .sr4-type-tabs {
    padding: 30px 0;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-container {
    --bg-tabs-mb: var(--bg-tabs) !important;
  }
}
.sr4-pr_attrs,
.sr4-pr_attrs p {
  margin-bottom: 0;
}

/* ------------------------Custom CSS----------------------------- */
.sr4-tabs-pr-ul {
  text-align: center;
  --list-mb: 15px;
}
.sr4-tabs-pr-ul a {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  line-height: 1.2;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.sr4-tabs-pr-ul a.sr4-active {
  border-color: var(--secondary-color);
}
.sr4-tabs-pr-ul a.sr4-active,
.sr4-tabs-pr-ul a:hover {
  color: var(--secondary-color);
}

/**
 * Accordion
 */
.is--tab-design__accordion .sr4-tab-wrapper > .sr4-tab__title[data-sr4-tab-item] {
  display: flex;
}
.is--tab-design__accordion .sr4-tab-wrapper:not(:last-of-type) {
  /* margin-bottom: 10px; */
}
.is--tab-design__accordion .sr4-tab-content {
  padding: 10px 0;
  /* border: 1px solid rgba(var(--text-color-rgb), 0.08); */
  border-top: 0;
}
.is--tab-design__accordion .sr4-tab-wrapper:first-child .sr4-tab-content:not([style]) {
  display: none;
}

.sr4-tab__title {
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(var(--text-color-rgb), 0.08); */
}

.sr4-tab__title .sr4-tab__text {
  /* padding: 10px; */
}
.sr4-tab__title .sr4-tab__icon {
  width: 44px;
  height: 44px;
  /*     background-color: var(--secondary-color); */
  /*     color: var(--sr4-light-color); */
  position: relative;
  display: block;
  flex: 0 0 auto;
  margin-left: 5px;
}
/* .sr4-tab__icon:after, */
.sr4-tab__icon:before {
  position: absolute;
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000" height="10px" width="10px" viewBox="0 0 330 330"><path d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  width: 12px;
  height: 12px;
}
/* .sr4-tab__icon:after {
  height: 15px;
  width: 2px;
} */
.sr4-active > .sr4-tab__title > .sr4-tab__icon:before,
.sr4-active > .sr4-tab__title > .sr4-tab__icon:after {
  transform: translate(-50%, -50%) rotate(90deg);
  /* transform: translate(-80%, -10%) rotate(90deg); */
}
.sr4-active > .sr4-tab__title > .sr4-tab__icon:before {
  /* opacity: 0; */
}

@media (min-width: 768px) {
  .sr4-product-tabs-wrapper.is--tab-position__external {
    margin: 60px 0px;
  }
  .sr4-tabs-pr-ul {
    --list-mb: 5px;
  }
  .sr4-tabs-pr-ul a {
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    padding: 0 25px;
    margin: 0;
  }

  .is--tab-design__tab .sr4-tab-wrapper .sr4-tab-content {
    padding: 25px 0;
  }

  /**
   * Accordion
   */
  .sr4-tab__title .sr4-tab__text {
    /* padding: 10px 0px; */
  }
}

@media (max-width: 1024px) {
  .is--tab-design-mb__accordion .sr4-tab-wrapper > .sr4-tab__title[data-sr4-tab-item] {
    display: flex;
  }
  .is--tab-design-mb__accordion .sr4-tab-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .is--tab-design-mb__accordion .sr4-tab-content {
    /* padding: 20px; */
    padding: 10px;
    /* border: 1px solid rgba(var(--text-color-rgb), 0.08); */
    border-top: 0;
  }
}
@media (max-width: 767px) {
  .sr4-product-tabs-wrapper.is--tab-position__external .sr4-type-tabs {
    padding: 30px 0;
  }
  .sr4-product-tabs-wrapper.is--tab-position__external {
    margin: 30px 0;
  }
}


/* .sr4-tab__title.sr4-fwm:hover span.sr4-tab__text {
border-bottom:2px solid #212121;
transition: border-bottom 0.3s ease
} */

.sr4-tab__title.sr4-fwm span.sr4-tab__text,
.sr4-tab-wrapper.sr4-active .sr4-tab__title.sr4-fwm span.sr4-tab__text {
  position: relative;
  /* display: inline-block; Ensures correct alignment for ::after */
  /* height: 2px; */
  color:black;
}

.sr4-tab__title.sr4-fwm span.sr4-tab__text::before,
.sr4-tab-wrapper.sr4-active span.sr4-tab__text::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%; /* Start from the center */
  transform: translateX(-50%) scaleX(0); /* Scale to zero */
  transform-origin: center; /* Ensure scaling starts from the center */
  width: 100%;
  height: 2px;
  background-color: #212121;
  transition: transform 0.1s ease; /* Smooth animation */
  display: block;
}

.sr4-tab__title.sr4-fwm:hover span.sr4-tab__text::before,
.sr4-tab-wrapper.sr4-active span.sr4-tab__text::before{
  transform: translateX(-50%) scaleX(1); /* Scale to full width */
  color:black;
}
.sr4-tab-wrapper.sr4-active{

}

