.sr4-top-heading {
  margin-bottom: var(--tophead_mb);
}

.sr4-section-title {
  position: relative;
  color: var(--color);
  --cl-heading: var(--color);
}
.sr4-section-title > span {
  display: inline-block;
  vertical-align: top;
}
.sr4-section-des {
  display: block;
  color: var(--color);
  --cl-subheading: var(--color);
}
.sr4_des_title_2 .sr4-section-title {
  display: flex;
  align-items: center;
}
.sr4_des_title_2.sr4-text-center .sr4-section-title {
  justify-content: center;
}
.sr4_des_title_2.sr4-text-end .sr4-section-title {
  justify-content: flex-end;
}
.sr4_des_title_2 .sr4-section-title::before,
.sr4_des_title_2 .sr4-section-title::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background: var(--cl-heading);
}
.sr4_des_title_2 .sr4-section-title > span {
  margin: 0 10px;
}
.sr4_des_title_3 .sr4-section-title {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.sr4_des_title_3 .sr4-section-title > span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 100%;
  width: 165px;
  height: 2px;
  background-color: var(--cl-heading);
  bottom: 0;
  left: 0;
}
.sr4_des_title_3.sr4-text-center .sr4-section-title > span::after {
  left: 0;
  right: 0;
  margin: auto;
}
.sr4_des_title_3.sr4-text-end .sr4-section-title > span::after {
  left: auto;
  right: 0;
  margin: auto;
}

.rtl_true .sr4_des_title_15 .sr4-section-title::after {
  margin: auto 50px auto 0;
}
.sr4-top-heading .sr4-head-btn a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.sr4-top-heading .sr4-head-btn a.sr4-btn-size-medium {
  font-size: 16px;
  line-height: 24px;
}
.sr4-top-heading .sr4-head-btn a.sr4-btn-size-large {
  font-size: 20px;
  line-height: 30px;
}
.sr4-heading-has-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
@media (min-width: 768px) {
  .sr4_des_title_2 .sr4-section-title > span {
    margin: 0 30px;
  }
  .sr4_des_title_2 .sr4-section-title::before,
  .sr4_des_title_2 .sr4-section-title::after {
    width: 60px;
  }
}
@media (max-width: 767px) {
  .sr4_des_title_15 .sr4-section-title:after {
    max-width: 20%;
  }
  .sr4-heading-has-btn {
    flex-direction: column;
    height: auto !important;
  }
}

h3.sr4-section-title.sr4-title {
  font-weight: 500;
}
